$color-dark: #282057;
$color-light: rgb(235, 222, 245);
$color-accent: #634FD6;
$color-grey: #2C2559;
$color-blend: #4C3DA3;

@font-face {
  font-family: 'Vinnytsia';
  src: url(./assets/fonts/VinnytsiaSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vinnytsia';
  src: url(./assets/fonts/VinnytsiaSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: Vinnytsia;
}

@keyframes bgmove {
  0% {
    background-position-y: 100%;
  };
  100% {
    background-position-y: -100%;
  }
}

.App {
  background: linear-gradient(20deg, $color-accent, $color-dark);
  background-size: 100% 200%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &::after {
    content: "";
    z-index: -1;
    background-image: url(./assets/message.png);
    filter: invert(1);
    position: absolute;
    display: flex;
    width: 300%;
    height:350%;
    opacity: 0.04;
    background-repeat: repeat;
    background-size: 80px;
    transform: rotateX(20deg) rotateY(5deg) rotateZ(20deg) translate(-50%, -50%);
    animation: 150s bgmove linear infinite;
  }
}

.header {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-light;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  font-family: Vinnytsia;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-align: center;

  &__text {
    filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.208))
  };
}

.links-list__label{
    color: $color-light;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.links-list__link{
  color: white;
  text-decoration: none;
  position: relative;
  padding: 5px 5px;
  transition: 0.1s ease;
  
  &::after {
    content: "";
    display: flex;
    position: absolute;
    border: solid 2px white;
    border-right: 0;
    border-left: 0;
    height: 100%;
    width: 0px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.1s ease
  }
  
  &:hover::after {
    width: 100%;
    border-radius: 5px;
  };

  &:hover {
    transform: scale(1.1);
    backdrop-filter: blur(1px);
  }
}

.links-list__list{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.to-whom {

  &__input {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      // height: 20px;
      outline: none;
      padding: 8px 10px;
      font-size: 17px;
      overflow: hidden;
      width: 100%;
      box-sizing: border-box;
      border-radius: 5px 5px 0 0;
      border: 0;
      border-bottom: solid 1px $color-accent;
      // border-radius: 5px;
      box-shadow: inset 0 0 0 0 $color-blend, 0 0 0 $color-dark;
      transition: 0.1s ease;
      font-style: italic;
  
      &:focus {
        box-shadow: inset 0 0 0 2px $color-blend, 0 0 2px $color-dark;
      }
  };

  &__teachers-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 3;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.211);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  };

  &__teacher {
    display: flex;
    padding-bottom: 5px;
    padding: 3px;
    cursor: pointer;

    &:hover {
      background-color: $color-light;
    }
  };

  &__teacher-img {
    height: 50px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
  };

  &__teacher-position {
    color: $color-accent;
    text-transform: uppercase;
    font-size: 12px;
  };

  &__teacher-details {
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  };

  &__teacher-name {
    padding-bottom: 7px;
  }
}

.message-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    max-width: 550px;
    
    &__icon-buttons-list {
      display: flex;
      position: absolute;
      bottom:10px;
      right: 0;
    }
}

.what-whom {
  position: relative;

  &__area{
      font-style: italic;
      margin-left: auto;
      margin-right: auto;
      // margin-top: 20px;
      width: 100%;
      height: 200px;
      // margin-bottom: 30px;
      border: 0;
      border-radius: 0 0 5px 5px;
      padding: 13px;
      font-size: 17px;
      outline: none;
      transition: 0.3s ease;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 0 $color-dark;

      background-color: rgba(255,255,255,0.9);
  
      &:focus {
        box-shadow: inset 0 0 0 2px $color-accent, 0 0 5px 1px $color-dark;
      }
  };
}

.message-text__button-group {
  background-color: $color-accent;
  width: max-content;
  padding: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  box-shadow: 3px 3px 1px #00000017;
  bottom: 10px;
  right: 5px;
  overflow: hidden;
}

.message-text__button {
  background-color: transparent;
  color: white;
  font-size: 13px;
  border: none;
  display: flex;
  align-items: center;
  border-left: solid 1px white;
  padding: 10px 4px;
  padding-right: 15px;
  padding-left: 7px;
  transition: 0.1s ease;
  cursor: pointer;

  &_icon {
    margin-left: 5px;
    height: 13px;
    width: 13px;
    filter: brightness(0) invert(1)
  };

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.message-text__icon-button{
    padding: 8px 10px;
    padding-right: 7px;
    box-sizing: content-box;
    height: 16px;
    width: 16px;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
}

.message-text__icon-button_icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.message-text__icon-button--attach{
    display: flex;
    justify-content: center;
    align-items: center;
}

.massage-footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid $color-light;
    backdrop-filter: blur(3px);
    padding-bottom: 30px;
    
}

.Our-githubs{
    font-size: 30px;
    font-weight: 700;
    color: $color-light;
}

.links-footer__list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.links-footer__link{
    text-decoration: none;
    color: $color-light;
    cursor: pointer;
}

.footer-massage{
    color: $color-light;
}